.col-1-1 {
  width: 99.99%;
}

.col-1-2 {
  width: 49.995%;
}

.col-1-3 {
  width: 33.33%;
}

.col-1-4 {
  width: 24.9975%;
}

.col-1-5 {
  width: 19.998%;
}

.col-2-3 {
  width: 66.66%;
}

.col-2-5 {
  width: 39.996%;
}

.col-3-4 {
  width: 74.9925%;
}

.col-3-5 {
  width: 59.994%;
}

.col-4-5 {
  width: 79.992%;
}
